

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titles{
    padding: 60px 80px;
}

.greenText{
    color: #4CAF4F;
}

.h2{
    font-size: 16px;
}

.title{
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.p{
    padding: 0px 300px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 70%;
    overflow: hidden;
}

.left {
    flex: 1;
    background-color: #303030;
    color: white;
    padding: 62px 40px;
    height: 100%;
}

.right {
    flex: 1;
    background-color: white;
    margin: 0;
    color: black;
    padding: 40px;
    height: 100%;
}

.titleForm {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.line {
    border: 2px solid #3CC169;
    width: 30%; 
    margin-top: 0px;
    margin-bottom: 20px; 
    margin-left: 1px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label, 
.form input {
    margin-bottom: 10px;
}

.send{
    height: 48px;
    background-color: #4CAF4F;
    font-weight: 400;
    color: white;
    padding: 0.8rem 1.7rem;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    border-color: #4CAF4F;
    margin-right: 2rem;
}

.input_line {
    background: #303030; 
    border: none; 
    border-bottom: 2px solid white; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    outline: none; 
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 8px;
}

.texts{
    font-size: 14px;
}

.social {
    display:flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 25%;
}

.social_icons{
    width: 22.57px;
    height: 22.57px;
    padding: 10px;
}