.main{
    background-color: #63D9604A;
    color: #000000;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 25%;
    align-items: center;
    padding: 0 10rem;
}

.main_title, .main_title_green{
    font-size: 3.5rem;
    font-weight: 700;
}

.main_title_green{
    color: #63D960;
    font-weight: 700;
}

.main_subtitle{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: -1rem;
    
}

.main_content, .main_picture{
    margin-top: -2rem;
}

/* .main_picture{
    
    
}	 */