

.footer_container{
    background-color: #263238;
    color: #F5F7FA;
     display: flex;
     padding: 44px 114px 44px 114px ;
     font-weight: 200;
 }
 
 
 .footer_logo{
     width: 157px;
     height: 69px;
 
 
 }
 
 
 .footer_social {
     display:flex;
     flex-direction: row;
 }
 
 .footer_social_icons{
    width: 22.57px;
    height: 22.57px;
    padding: 10px;
 }
 
 
 .footer_links a{
     display: flex;
     flex-direction: column;
     color: #F5F7FA;
     text-decoration: none;
     margin-bottom: 20px;
 }
 

 .column{
     flex: 1;
 }

.input{
    background-color: #717171;
    border: none;
    width: 207.78px;
    height: 27.84px;
    border-radius: 5px;
 }

